.container {
    border: 1px solid black;
    display: inline-grid;
    grid-template-columns: 173px 173px 173px;
    grid-template-rows: 109px 109px 109px;
}

.c1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #000000;
}
.c2 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #DE0002;

}
.c3 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: #FFCE00;
}